.page {
  &__header {
    background-color: $brand-green-color-02;
    background-image: url("#{$imagePath}hero/mobile/mobile-leaves.png"),
      url("#{$imagePath}hero/mobile/mobile-plantperson.png");
    background-position: center -250px, center 90%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    padding: 30px;
    color: #fff;
    min-height: calc(100vh);

    @include mobile-landscape {
      background-position: center 100%, center 156px;
    }

    @include tablet-portrait {
      background-position: center -500px, center 90%;
    }

    @include tablet-landscape {
      background-position: center -800px, center 90%;
      background-size: cover, 70%;
    }

    @include desktop {
      min-height: 500px;
      padding: 60px 0 0 290px;

      // Defined as layout: responsive until 1440px, after this breakpoint,
      // needs more definitions and specs
      background-image: url("#{$imagePath}hero/desktop/left-leaves.png"),
        url("#{$imagePath}hero/desktop/plantperson.png"),
        url("#{$imagePath}hero/desktop/right-leaves.png");
      background-position: -30% bottom, 64% bottom, center right;
      background-size: contain, contain, contain;
    }

    &__title {
      font-size: $font-size-hero;
      line-height: $line-height-hero;
      max-width: 250px;

      @include tablet-portrait {
        max-width: 450px;
        font-size: $font-size-hero--desktop;
        line-height: $line-height-hero--desktop;
      }

      @include tablet-landscape {
        max-width: 450px;
        font-size: $font-size-hero--desktop;
        line-height: $line-height-hero--desktop;
      }
    }
  }

  &__filters {
    padding: $space-06;
  }

  &__back-to-top {
    background-color: $color-grey-01;
    padding: $space-04 $space-06;

    &__wrapper {
      @include desktop {
        max-width: $container;
        margin: 0 auto;
        padding: $space-06 0;
      }
    }
  }
}

.steps {
  &__wrapper {
    @include tablet-landscape {
      display: flex;
      max-width: $container;
      margin: 0 auto;
      padding: $space-06 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  .step {
    margin: 30px 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @include tablet-landscape {
      height: 200px;
      display: flex;
      flex-direction: column;
      margin: 0;
      max-width: 220px;
    }

    &__icon {
      height: 58px;
      align-self: flex-start;
      margin-bottom: 15px;

      @include desktop {
        height: 75px;
        // margin-bottom: 20px;
      }
    }
  }
}

.page__results {
  background-color: $color-grey-01;

  &__wrapper {
    padding: $space-06;

    @include desktop {
      max-width: $container;
      margin: 0 auto;
      padding: $space-06 0;
    }
  }

  &__content {
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    font-size: $font-size-hero;
    line-height: $line-height-hero;
  }

  &__description {
    font-size: 18px;
  }

  &__illustration {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }

  .page__results__not-found,
  .page__results__found {
    display: none;

    &--active {
      display: block;
    }
  }

  .page__results__not-found {
    color: #b5b3b3;

    .page__results__illustration {
      width: 106px;
    }
  }

  .page__results__found {
    color: #333;

    .page__results__illustration {
      width: 150px;
      margin: 0;
      padding-bottom: 0;
    }

    .page__results__wrapper,
    .page__results__title {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.results {
  .result {
    &__wrapper {
      padding-left: $space-06;
      display: flex;

      @include desktop {
        max-width: $container;
        margin: 0 auto;
        padding: $space-06 0;
      }
    }

    &__items {
      display: flex;
      overflow-x: auto;
      padding: 10px 0;

      @include desktop {
        display: flex;
        width: $container;

        overflow: hidden;
        flex-wrap: wrap;
      }
    }

    &__item {
      min-width: 258px;
      height: 320px;
      flex-grow: 1;

      padding: 20px;
      margin-right: 16px;
      background-color: $color-white;
      border-radius: 5px;
      position: relative;
      color: $brand-green-color-01;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include desktop {
        min-width: 206px;
        height: 245px;
        margin: $space-04 $space-04 0 0;

        &--featured {
          // min-width: 437px;
          // min-height: 510px;
          // flex: 1 0 66.6%;
        }

        &--break {
          /* Force new columns */
          /*
                    flex-basis: 100%;
                    width: 0;
                    border: 1px solid #ddd;
                    margin: 0;
                    content: "";
                    padding: 0;
                    */
        }

      }

      &__badge {
        color: $color-white;
        padding: 10px;
        left: 0;
        font-size: 12px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        background-color: $brand-green-color-02;
      }

      &__image {
        height: 220px;

        img {
          margin: 0 auto;
        }

        @include desktop {
          height: 150px;
          margin: 0 auto 20px;
        }
      }

      &__description,
      &__price__actions__price {
        font-weight: bold;
      }

      &__price__actions,
      &__price__actions__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__price__actions__actions {
        .icon {
          margin: 0 5px;
        }
      }
    }
  }
}
